#Titulo1{
    margin-left: 800px;
    color: greenyellow;
}
#Cosa1{
    color: green;
}
#Cosa2{
    color: green;
}
#Cosa3{
    color: green;
}
#Cosa4{
    color: greenyellow;
}
#Cosa5{
    color: greenyellow;
}
#Titulo2{
    margin-left: 775px;
    color: red;
}
#Malo1{
    color: red;
}
#Malo2{
    color: red;
}
#Malo3{
    color: red;
}
#Malo4{
    color: red;
}
#Malo5{
    color: red;
}